p{
    color: green;
    font-size: 22px;
    line-height: 28px;
}
h1{
    color: blue;
    background-color: yellow;   
}

li{
    color: red;
    font-family: Arial;
    text-align: center;
}
h6{
    text-transform: uppercase;
    color:brown;
    font-weight: bold;
}